.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .circle-one {
    background-color: aqua;
  }

  .circle-two {
    background-color: red;
    left: 150px;
  }

  .circle-three {
    background-color: green;
    left: 300px;
  }